@import "../../.cache/wal/colors-waybar.css";

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: transparent;
}

button {
    background-color: transparent;
    color: white;
    border-radius: 6px;
    outline: none;
    margin: 10px;
    border: 2px solid @color12;
    font-size: 16px;

    padding: 60px 20px 20px 20px;
}

button:hover {
    background-color: alpha(@color9, 0.8);
    outline-style: none;
}

#logout, #suspend, #shutdown, #reboot {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72px 72px;
}

#logout {
    background-image: url("file:///home/rodrigo/.config/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("file:///home/rodrigo/.config/wlogout/icons/suspend.png");
}

#reboot {
    background-image: url("file:///home/rodrigo/.config/wlogout/icons/reboot.png");
}

#shutdown {
    background-image: url("file:///home/rodrigo/.config/wlogout/icons/shutdown.png");
}
