@import "../../.cache/wal/colors-waybar.css";

* {
    font-family:
        "Inter", "JetBrainsMono Nerd Font", FontAwesome, Roboto,
        Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

window#waybar{
    background-color: transparent;
}

#workspaces{
    min-height: 10px;
    border-radius: 6px;
    background-color: @color9;
    color: @background;
}

#workspaces button{
    border-radius: 6px;
}

#workspaces button.active {
    color: @background;
    background: @color4;
    min-width: 20px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @color5;
    color: @background;
    border: none;
}

#clock, #cpu, #battery, #tray, #memory, #network, #custom-power{
    background-color: @color9;
    padding: 7px 10px;
    border-radius: 6px;
    margin: 0 5px;
}